/* THIS IS A BLOCK COMMENT IN CSS */



/*
    THIS IS THE STRUCTURE OF A CSS STYLE RULE

    selector {
        property-1: value-1;
        property-2: value-2;
        property-n: value-n;
    }
*/

/*
    SELECT TAG NAME
    This is how you target a tag/element name
*/
p{
    color: plum;
}
h3{
    color: rgb(90, 84, 80);
    border-style: dotted;
    border-color: seagreen;
    border-width: 3px;
}

/*

    SELECT CLASS NAME
    This is how you target a class name
    The "class" attribute of an element creates a classification for a group of elements,
    we can create any custom class name we'd like. Many elements can share a class. Also,
    an element may have MULTIPLE classes, separate by a space.

    In CSS to select a class we need to use the "." in front of the class' name.
*/
.wedabess {
    text-align: center;
    border-style: groove;
    border-width: 10px;
}

.anotha1 {
    border-color: royalblue;
    color: purple;
}


/*
    SELECT ID
    This is how you target an ID
    the "id" attribute of an element creates a unique identifier for a specific element,
    we can create our own custom id for a given element. Only one element should have a
    given id (they don't share IDs)

    In CSS to select a ID we need to use the "#" in front of the ID's name.
*/

#DJKHALED {
    color: royalblue;
    text-align: center;
}




/* 
----------------------------------------------------------------------------
        LET'S TALK ABOUT MORE COMPLEX SELECTORS
        aka "combinators"
----------------------------------------------------------------------------
*/


/*
    this specific example selects everything
    you can use this to create initial conditions for every element
*/
*{

}



/*
    this specific example selects any h4 element that is a child of a div tag (immediate child)
*/
div>h4{
    color: orange;
}



/*
    this specific example selects any h2 element that is a child of a div tag
    could be child, grandchild, greatgrandchild, etc. Any descendant
*/
div h5{
    color: magenta;
}


/* this speicific example select ANY child of a div tag */
div>*{

}

h5.combstuff{
    text-align: center;
}


/* THESE are not EVERY combinator that exists...it's just a taste */








/*

    LET'S TALK ABOUT THE BOX MODEL FOR A MOMENT

    margin -> border -> padding -> the content itself
*/
.spidey{
    border-style: ridge;
    border-color: coral;
    border-width: 5px;
    padding: 25px;
    margin: 100px;
}